    h1 {
        color: red;
        font-family: 'Teddy Bear';
    }

    h2 {
        color: rgb(185, 197, 9);
        font-family: 'Teddy Bear';
    }

    h2 {
        font-family: 'Teddy Bear';
    }


    body {
        background-color: rgb(222, 222, 231);
    }

    .big_text {
        font-size: 2rem;
    }

    @font-face {
        font-family: 'Teddy Bear';
        src: url('fonts/teddy_bear.eot');
        /* IE 9 Compatibility Mode */
        src: url('fonts/teddy_bear.eot?#iefix') format('embedded-opentype'),
            /* IE < 9 */
            url('fonts/teddy_bear.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('fonts/teddy_bear.woff') format('woff'),
            /* Firefox >= 3.6, any other modern browser */
            url('fonts/teddy_bear.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('fonts/teddy_bear.svg#teddy_bear') format('svg');
        /* Chrome < 4, Legacy iOS */
    }