    h1 {
        color: rgb(19, 13, 13);
        font-family: 'Sunday';
    }

    h2 {
        color: rgb(129, 31, 6);
        font-family: 'Sunday';
    }

    h2 {
        font-family: 'Sunday';
    }

    ul {
        color: rgb(23, 151, 7);
        font-family: 'Sunday';
    }

    ol {
        color: rgb(22, 8, 145);
        font-family: 'Sunday';
    }


    body {
        background-color: rgb(222, 222, 231);
    }

    .big_text {
        font-size: 1.5rem;
    }

    @font-face {
        font-family: 'Sunday';
        src: url('../fonts/sunday.eot');
        /* IE 9 Compatibility Mode */
        src: url('../fonts/sunday.eot?#iefix') format('embedded-opentype'),
            /* IE < 9 */
            url('../fonts/sunday.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/sunday.woff') format('woff'),
            /* Firefox >= 3.6, any other modern browser */
            url('../fonts/sunday.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/sunday.svg#sunday') format('svg');
        /* Chrome < 4, Legacy iOS */
    }